.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: white;
}

.registration-container h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.registration-form {
    background: white;
    padding: 2em;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.input-group {
    margin-bottom: 1em;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5em;
}

.input-group input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-button {
    background-color: #3498DA;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    width: 100%;
    margin-top: 1em;
    cursor: pointer;
}

.register-button:hover {
    background-color: black;
}

.registration-footer {
    margin-top: 1em;
}

.registration-footer a {
    color: #3498DA;
    text-decoration: none;
    display: block;
}