/* LoginPage.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    margin-top: 120px;
}

.login-form {
    background: white;
    padding: 2em;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.input-group {
    margin-bottom: 1em;
    text-align: left;
}

.input-group label {
    display: block;
    padding: 0px !important;
    margin-bottom: 0.5em;
}

.input-group input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    background-color: #3498DA;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    width: 100%;
    margin-top: 1em;
    cursor: pointer;
}

.login-button:hover {
    background-color: black;
}

.login-footer {
    margin-top: 1em;
}

.login-footer a {
    color: #3498DA;
    /* Adjust the link color to match your theme */
    text-decoration: none;
    display: block;
    /* Or inline-block, depending on your design */
}

.login-footer a:not(:last-child) {
    margin-bottom: 0.5em;
}

.login-container h2{
    margin-bottom: 20px;
    font-weight: bold;
}